#clock {
display:flex;
justify-content: center; 
position: relative;     
}

#clock img {
position: absolute;
}


#hour{
    transform: rotate(30deg);
  }

#minute{
    transform: rotate(60deg);
}

#second{
    transform: rotate(30deg);
}

